@{
    ViewBag.Title = "Welcome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to the Coffee Club</title>
</head>
<body>
    <div>
        <h2>Welcome @ViewBag.UserName</h2>
        <h3>Thanks for joining our club, @ViewBag.FirstName. We can't wait for you to show off your new membership to your hometown of @ViewBag.City @ViewBag.State.</h3>

    </div>
</body>
</html>
